<button @onclick="OnClick" @attributes="@AdditionalAttributes"
        class="px-4 py-2 rounded-lg transition-colors flex items-center gap-2 @(Active ? "bg-indigo-600 text-white" : "bg-gray-200 text-gray-700 hover:bg-gray-300") cursor-pointer">
    <span>@ChildContent</span>
</button>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();
    
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    
    [Parameter]
    public bool Active { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }

}