<button @onclick="OnClick"
        class="px-4 py-2 rounded-lg transition-colors flex items-center gap-2 @(Active ? "bg-blue-600 text-white" : "bg-gray-200 text-gray-700 hover:bg-gray-300") cursor-pointer">
    <span>@ChildContent</span>
</button>

@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    
    [Parameter]
    public bool Active { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }

}