<label for="@For" class="block text-sm font-medium text-gray-700 mb-2">
    @Text @if (Required)
    {<span class="text-red-600">*</span>}
</label>

@code {
    [Parameter] public string For { get; set; } = "";
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public bool Required { get; set; } = false;
}