<a @attributes="@AdditionalAttributes"
        class="px-4 py-2 bg-orange-600 !text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer">
   @ChildContent
</a>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();
    
    [Parameter] public RenderFragment? ChildContent { get; set; }

}