@using BestPartsDemo.Components.Icons

<div class="flex items-center gap-1 mt-2 mb-4 bg-gray-100 p-2 min-w-7xl">
    <NavLink class="underline text-blue-600 hover:text-blue-800 hover:underline [&.active]:text-gray-700 [&.active]:font-semibold [&.active]:no-underline" href="/contacts/all">
        All Contacts
    </NavLink>

    @if (ContactId != null)
    {
        <Chevron />

        <NavLink class="text-blue-600 hover:text-blue-800 hover:underline [&.active]:text-gray-700 [&.active]:font-semibold [&.active]:no-underline" href=@($"/contacts/{ContactId}")>
            @ContactName
        </NavLink>
    }
</div>

@code {

    [Parameter] public int? ContactId { get; set; }
    [Parameter] public string ContactName { get; set; }

}