@inherits LayoutComponentBase

<div class="flex">
    <section class="flex flex-col space-y-1 px-4 py-4 min-w-[200px]">
        <NavLinks />
    </section>
    <main class="w-full overflow-y-scroll h-screen">
        <article class="container mx-auto px-4 py-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>